@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-accent: #22c55e;
  --color-text: #111827;
  --color-background: #f9fafb;
  --color-border: #e5e7eb;
  --color-logo: #0371c8;
  --color-lightBlue: #f2f6ff;
  --text-heading: var(--font-poppins);
  --text-body: var(--font-inter);
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.cursor {
  animation: blink 1s infinite;
}
