@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-accent: #22c55e;
  --color-text: #111827;
  --color-background: #f9fafb;
  --color-border: #e5e7eb;
  --color-logo: #0371c8;

  --text-heading: var(--font-poppins);
  --text-body: var(--font-inter);
}
